* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #abad94;
  font-family: "Manrope", sans-serif;
}

.container {
  background-color: #e6e8d2;
  max-width: 1200px;
  margin: 0 auto;
}

.inner {
  margin: 0 5%;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.navbar__item {
  display: inline;
  margin: 0 10px;
}

.navbar__link:hover {
  color: #b85043;
  transition: 0.1s;
}

.navbar__list {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}

.logo-text {
  margin-right: 30px;
  font-family: "Russo One", sans-serif;
  font-size: 1.35em;
}

.link--black {
  color: black;
  text-decoration: none;
}

.login {
  margin-left: 30px;
}

.button {
  border-radius: 20px;
  padding: 13px 27px;
  font-size: 14px;
  font-weight: 700;
  transition: 0.2s;
  cursor: pointer;
}

.button--red {
  background-color: #b85043;
  border: solid 1px #b85043;
  color: white;
}

.button--red:hover {
  background-color: #862d2d;
  border: solid 1px #862d2d;
  transition: 0.2s;
}

.button--hollow {
  background-color: #e6e8d2;
  border: solid 1px;
}

.button--hollow:hover {
  color: #b85043;
  transition: 0.2s;
}

.info-block__inner {
  display: flex;
  padding-top: 9%;
}

.info-block__img {
  max-width: 45%;
  flex-basis: 50%;
  margin-left: 2.5%;
}

.text-block {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 2.5%;
}

.header-1 {
  font-size: 65px;
  font-weight: 900;
  line-height: 1.2;
}

.text-block__text {
  font-size: 24px;
  font-weight: 500;
}

.download-button {
  margin-right: 35px;
}

.text-accent {
  color: #b85043;
}

.about-company__inner {
  padding: 9% 0 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}

.features-container {
  flex-basis: 27%;
}

.features-container__pict {
  max-width: 50px;
}

.header-2 {
  padding-top: 3%;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 70%;
}

.header-3 {
  padding-top: 1%;
  font-weight: 800;
  font-size: 1.4em;
}

.features-container__text {
  padding-top: 2%;
  font-weight: 300;
  color: #65685d;
  font-size: 0.87em;
}

.small-text {
  font-weight: 800;
}

.separator-line {
  height: 1px;
  background-color: #919587;
}

.goods__inner {
  padding: 4% 0 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods-radio {
  margin-top: 40px;
  min-width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.goods-radio__label {
  padding: 7px 14px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

input[type="radio"] {
  display: none;
}

.goods-radio__button input[type="radio"]:checked + .goods-radio__label {
  background: white;
  border: 1px solid white;
  transition: 0.2s;
}

.goods-radio__button
  input[type="radio"]:hover:not(:checked)
  + .goods-radio__label {
  color: #b85043;
  border: 1px solid #b85043;
  transition: 0.2s;
}

.goods-showcase {
  padding-top: 5%;
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}

.goods-showcase__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods-showcase__image-container {
  display: flex;
  align-items: center;
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 150px;
}

.goods-showcase__image {
  max-width: 100%;
}

.goods-showcase__header {
  padding: 10% 0;
}
